body {
  background: url("/images/background.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%;
}
h1 {
  color: #000;
  opacity: 0;
}
p {
  color: #ffa500;
  opacity: 0;
}
.site-subtitle {
  color: #000;
  opacity: 0;
}
